.container {
    width: 100%;

    .wrapper {
        width: 100%;

        .cardWrapper {
            display: flex;
            row-gap: 1rem;
            column-gap: 1rem;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            @media screen and (max-width:600px) {
                justify-content: center;
            }
        }

    }
}