.container {
    width: 100%;

    .wrapper {
        width: 100%;

        .imgWrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
            width: 100%;
            box-sizing: border-box;
            background-image: url("../../Assets/backgrounds/background.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 45% 50%;

            @media screen and (max-width:600px) {
                background-position: 99% 357%;
                background-size: 61% 89%;
            }

            .imgData {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 70%;
                }
            }
        }
    }
}