.dropdown {
  padding: 5px 0px;
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;

  .dropdownbtn {
    display: flex;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #454545;
    padding: 5px 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #454545;
    box-sizing: border-box;

    span {
      width: 100%;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: #454545;
      font-weight: 500;
      display: flex;
      flex: 1;
      appearance: none;
      padding: 0 6px;
      font-size: 16px;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-top: 3.5px;

      .leftIcon {
        font-size: 25px;
        color: #FFB718;
        rotate: 180deg;
        text-align: center;

      }
    }

    .withRightIcon {
      max-width: 20px;
      height: auto;
      font-size: 22px;
      color: #FFB718;
      padding: 0;
      margin: 0;
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: #fff;
    border: 1px solid rgba(112, 112, 112, 0.26);
    backdrop-filter: inherit;
    padding: 10px 5px;
    width: 100%;
    color: black;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    scrollbar-color: #7137f9 #555;
    z-index: 1;
  }

  .dropdownitems {
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

  .dropdownitems:hover {
    background-color: #FFB718;
    color: #fff;
  }
}