.mySwiper {
    color: red;
    // background-color: red;
    width: 98%;
}

.main-carasoul {
    width: 100%;
}

#text {
    font-style: normal;
    font-size: 26px;
    line-height: 113.9%;
    color: rgba(255, 183, 24, 0.95);
    position: relative;
    width: 460px;
    height: 72px;
    margin-bottom: 3rem;
}

#carasol_card {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 178px;
    height: 180px;
    display: flex;
    filter: grayscale(100%);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#carasol_card:hover {
    filter: invert(0%);
    transition: 0.5s;
    cursor: pointer;
}

.slider-div {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 178px;
}

#card_names {
    color: rgba(255, 183, 24, 0.95);
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    font-weight: 700;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    mix-blend-mode: color-dodge;
}

#card_desc {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 113.9%;
    text-align: center;
    color: rgba(255, 183, 24, 0.95);

}

.div_of_title {
    background: rgba(0, 0, 0, 0.2);
    width: 180px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;

}

.mySwiper .swiper-button-next {
    top: 43%;
    opacity: 0.8;
    font-weight: bolder;
}

.mySwiper .swiper-button-prev {
    font-weight: bolder;
    top: 43%;
    opacity: 0.8;

}

.mySwiper.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    top: 95%;

    @media screen and (max-width:600px) {
        top: 90%;
    }

    @media screen and (min-width:600px) and (max-width:1024px) {
        top: 90%;
    }

}

.mySwiper.swiper {
    padding-bottom: 3rem;
}



span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    color: red !important;
    background-color: rgba(255, 183, 24, 0.95) !important;
}