.container {
    width: 100%;

    .wrapper {
        width: 100%;

        .imgWrapper {
            width: 100% !important;
            object-fit: cover;
            height: 326px !important;

            @media screen and (max-width:600px) {
                height: 126px !important;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .headingWrapper {
            display: flex;
            flex-direction: column;
            padding: 2rem 5rem 0.4rem 5rem;
            box-sizing: border-box;

            @media screen and (max-width:1024px) {
                padding: 1rem 2rem 0.4rem 2rem;
            }

            .heading {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1rem;

                span {
                    font-size: 25px;
                    color: black;
                    cursor: pointer;
                    height: 25px;
                    width: 25px;
                    padding-top: 0.5rem;

                    @media screen and (max-width:600px) {
                        font-size: 18px;
                    }
                }

                label {
                    font-weight: 700;
                    font-size: 45px;
                    text-transform: capitalize;
                    color: #000000;

                    @media screen and (max-width:600px) {
                        font-size: 25px;
                    }
                }
            }

            .subHeading {
                display: flex;
                align-items: center;
                column-gap: 1rem;

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    color: #9A9A9A;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 140px;

                    @media screen and (max-width:600px) {
                        font-size: 16px;
                    }
                }

                span {
                    color: #9A9A9A;
                    cursor: pointer;
                }
            }

        }
    }
}